.service_card {
    @apply bg-gray pt-5 mt-7 rounded-md;
    height: clamp(192.5px, 89.95139999999999vw, 770px);
    width: clamp(175px, 81.774vw, 700px);
    display: flex;
    align-items: center;
    flex-direction: column;

    &__line {
        width: 100%;
        height: 2px;
        @apply bg-green;
        @apply mt-4;
        border: none;
    }

    &__heading {
        font-weight: 600;
        font-family: "Lato", sans-serif;
        font-size: clamp(12.5px, 5.840999999999999vw, 50px);
        text-align: center;
    }

    &__items {
        font-family: "Lato", sans-serif;
        border-left: 2px solid;
        @apply border-green mt-4 ml-3 pl-2;
        line-height: clamp(12px, 5.60736vw, 48px);
        font-size: clamp(8px, 3.73824vw, 32px);
    }
}